<!doctype html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
		<meta name="renderer" content="webkit"/>
		<meta name="force-rendering" content="webkit"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

		<!-- MDUI CSS -->
		<link rel="stylesheet" href="/static/libs/mdui-1.0.2/css/mdui.min.css" />
		<link rel="stylesheet" href="/static/style.css" />
		<!-- MDUI JavaScript -->
		<script src="/static/libs/mdui-1.0.2/js/mdui.min.js" ></script>
		<script src="/static/js/cookies.js" ></script>
		<script src="/static/js/libs.js" ></script>
		<title>{{ title }}</title>
	</head>
	<body class="mdui-appbar-with-toolbar mdui-theme-primary-teal mdui-theme-accent-blue mdui-drawer-body-left">
		<div class="mdui-drawer" id="main-drawer">
			{% block drawer %}{% endblock drawer %}
		</div>
		<header>
			<div class="mdui-appbar mdui-appbar-fixed">
				<div class="mdui-toolbar mdui-color-theme">
					<a mdui-drawer="{target: '#main-drawer'}" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">menu</i></a>
					<a href="/" class="mdui-typo-headline">Notes</a>
					<a href="#" class="mdui-typo-title">{{ title }}</a>
					<div class="mdui-toolbar-spacer"></div>
				</div>
			</div>
		</header>
		<main class="mdui-typo mdui-container">
			{% block content %} {% endblock content %}
		</main>
		<div class="mdui-fab-wrapper" id="post-fab" mdui-fab="{trigger: 'hover'}">
			{% if data.id %}
				<a href="/post/{{data.id}}/edit" class="mdui-fab mdui-ripple mdui-color-theme-accent">
			{% else %}
				<a href="/post/1/edit" class="mdui-fab mdui-ripple mdui-color-theme-accent">
			{% endif %}
				<i class="mdui-icon material-icons">add</i>
				<i class="mdui-icon mdui-fab-opened material-icons">edit</i>
			</a>
			<div class="mdui-fab-dial">
				<button id="new-post" class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-theme" mdui-tooltip="{content: '新笔记'}"><i class="mdui-icon material-icons">note_add</i></button>
				{% block fab %} {% endblock fab %}
			</div>
		</div>
		<script> 
			$('#new-post').on('click', async function(e) {
				let id = await request( '/api/post', { title: "Title", markdown: "Content" }, 'PUT' );
				if( id != undefined ) {
					mdui.snackbar({
						message: '创建成功',
						buttonText: '跳转',
						onButtonClick: function(){
							window.location.href = `/post/${id}/edit`;
						},
					});
				}
			});
		</script>
		<script>
			MathJax = {
				tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]},
				svg: {fontCache: 'global'}
			};
		</script>
		<script src="/static/libs/MathJax-3.1.2/es5/tex-svg.js"></script>
	</body>
</html>
