{% extends "base" %}
{% import "macros" as macros %}

{% block content %}
	<div class="mdui-typo article-content mdui-m-t-3">
		{{ main.html | safe }}
	</div>
	{{ macros::show_posts(posts=data) }}
{% endblock content %}

{% block drawer %}
	{{ macros::list_posts(posts=data) }}
{% endblock drawer %}
